.App {
  text-align: center;
  position: relative;
}
.headerContainer{
  width: 100%;
  height: 50px;
}
.absoluteL{
  position: absolute;
  left: 0;
}
.absoluteR{
  position: absolute;
  right: 0;
}
.userIconContainer{
  margin: 5px;
  padding: 5px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
}
.ant-drawer-body{
  padding: 0;
}
.headerTitle{
  display: inline-block;
  color: #fff;
  font-size: larger;
  font-weight: 700;
  margin: auto;
}
.ant-layout-header{
  height: 50px;
  line-height: 50px;
  background-image: linear-gradient(to right, #89067e, #73067f, #5a0b7f, #3d0f7e, #09137c);
  position: sticky;
  top: 0;
  z-index: 500;
  box-shadow: 0 0 5px #89067e;
}
.ant-layout-footer{
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 500;
  box-shadow: 0 0 5px #cfcfcf;
}
.bookForm{
  padding: 10px;
  background-color: #f5eaea;
}
.booksContainer{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 5px;
}
.inputContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  max-width: 400px;
  margin: auto;
}
.inputContainer>input{
  max-width: 500px;
}
.bookBox{
  background-color: #f5eaea;
  border: 1px dashed gray;
  border-radius: 3px;
  padding: 3px;
  overflow: auto;
  box-shadow: 3px 3px 3px #ffb480;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr 35px;
  grid-template-columns: 1fr;
  justify-content: start;
  align-items: center;
  gap: 1px;
}
.deleteBookButton{
  /* border: 1px solid rgb(104, 87, 87);
  background-color: #fa4040;
  color: #f1fdf5;
  padding: 3px;
  border-radius: 3px;
  cursor: pointer; */
  width: fit-content;
  justify-self: center;
}
.bookTitle, .bookAuthor{
  justify-self: center;
  font-weight: 500;
}
/* #components-layout-demo-responsive .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
} */
/* .ant-layout.ant-layout-has-sider{
  height: 100vh;
} */
/* .site-layout-sub-header-background {
  background: #fff;
} */

/* .site-layout-background {
  background: #fff;
} */
.whiteText{
  color: #fff !important;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
