.App {
  text-align: center;
}
.headerContainer{
  width: 100%;
  height: 50px;
}
.absoluteL{
  position: absolute;
  left: 0;
}
.absoluteR{
  position: absolute;
  right: 0;
}
.userIconContainer{
  margin: 5px;
  padding: 5px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
}
.ant-drawer-body{
  padding: 0;
}
.headerTitle{
  display: inline-block;
  color: #fff;
  font-size: larger;
  font-weight: 700;
  margin: auto;
}
.ant-layout-header{
  background-image: linear-gradient(to right, #89067e, #73067f, #5a0b7f, #3d0f7e, #09137c);
}
.booksContainer{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
.bookRow{
  border: 1px dashed gray;
  border-radius: 3px;
  padding: 3px;
  margin: 1px;
}
.deleteBookButton{
  border: 1px solid red;
  padding: 3px;
  margin: 2px;
  border-radius: 3px;
  cursor: pointer;
}
/* #components-layout-demo-responsive .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
} */
/* .ant-layout.ant-layout-has-sider{
  height: 100vh;
} */
/* .site-layout-sub-header-background {
  background: #fff;
} */

/* .site-layout-background {
  background: #fff;
} */
.whiteText{
  color: #fff !important;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
